.content {
  margin: 15px auto;
  border: solid 2px black;
  height: 90vh;
  display: flex;
  max-width: 1400px;
}
.sidebar {
  background-color: magenta;
  width: 300px;
  height: 100%;
}
.pad-collection {
  background-color: cyan;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: calc(100% - 300px);
}
.pad {
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 2px;
  width: 200px;
  height: 200px;
}
.pad:hover {
  background-color: blue;
  cursor: grab;
}
.pad-text {
  line-height: 150px;
  text-align: center;
  color: whitesmoke;
}

